:root {
    --primary-color: #1e1e2f;
    --secondary-color: #ffffff;
    --accent-color-purple: #9b59b6;
    --accent-color-orange: #ff7f50;

    --font-family-main: 'Roboto', sans-serif;

    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 32px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color-purple);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color-orange);
}

/* Light Theme Variables */
body.light-theme {
    --primary-color: #f0f2f5; /* Light background */
    --secondary-color: #333333; /* Dark text */
    --accent-color-purple: #6a1b9a; /* Darker purple */
    --accent-color-orange: #ff5722; /* Darker orange */
}

/* Basic styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-main);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}